<!DOCTYPE html>
<html>
  <head>
    <title>HappyVibes</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  
  <body>
    <header class="navbar">
      <div class="container">
        <div class="row ">
          <div class="col-6">
            <span class="float-left"><%= link_to 'Happy Vibes', root_path, class: 'navbar-brand' %></span>
          </div>
          <div class="col-6 contribute">
            <span class="float-right"><%= link_to 'Contribute a Quote', '#', data: {toggle: 'modal', target: '#myModal'} %></span>
          </div>
        </div>
      </div>
    </header>




  <hr />

  <br class="clear" />


   <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Contribute Your Quote</h4>
          </div>
          <%= simple_form_for Quote.new do |f| %>
            <div class="modal-body">
              <%= f.input :saying, label: "What is the saying you want to add?" %>
              <br />
              <%= f.input :author, label: "Who is the author of the quote?" %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <%= f.submit 'Create', class: 'btn btn-danger' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="container">
      <% if flash[:error].present? %>
        <div class="col-10 offset-1 alert alert-danger">
          <%= flash[:error].html_safe %>
        </div>
      <% end %>
      <%= yield %>
    </div>

    <div class="footer">
      <div class="footer-blurb">
          <p>Happily hacked in Charlotte, NC by <%= link_to "Bonnie", about_path, class: 'about' %></p>
      </div>
    </div>
  </body>
</html>


